In [74]:
import pandas as pd
import janitor
from IPython.display import display
from utilities import calculate_summary_statistics, pandas_to_tex
import warnings

warnings.filterwarnings("ignore")

In [76]:
age_order = ["<25", "25-34", "35-49", "50-64", "65+"]

df = pd.read_csv("../data/combined_yg_bl_who.csv").assign(
    agegroup_lab=lambda df_: pd.Categorical(
        df_["agegroup_lab"], categories=age_order, ordered=True
    )
)
display(df.head())
df.info(verbose=True)

,caseid,tt_visits,tt_domains,bl_ddg_join_ads,bl_third_party_cookies,bl_canvas_fingerprinting,bl_session_recording,bl_key_logging,bl_fb_pixel,bl_google_analytics,...,who_social_media_rate,who_social_media_al1,who_social_media_al3,who_social_media_al5,who_social_media_al10,who_adult_advertising_rate,who_adult_advertising_al1,who_adult_advertising_al3,who_adult_advertising_al5,who_adult_advertising_al10
0,47541,17194,553,3107.0,4238.0,44.0,51.0,23.0,90.0,9.0,...,0.546702,True,True,True,True,0.0,False,False,False,False
1,56565,11479,334,1606.0,2193.0,18.0,16.0,11.0,44.0,5.0,...,0.644655,True,True,True,True,0.0,False,False,False,False
2,203271,6540,152,308.0,514.0,6.0,10.0,1.0,7.0,1.0,...,0.489297,True,True,True,True,0.0,False,False,False,False
3,216457,1770,49,146.0,234.0,7.0,4.0,1.0,4.0,1.0,...,0.790960,True,True,True,True,0.0,False,False,False,False
4,257495,10012,284,874.0,1149.0,21.0,15.0,10.0,29.0,5.0,...,0.589293,True,True,True,True,0.0,False,False,False,False

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1134 entries, 0 to 1133
Data columns (total 142 columns):
 #    Column                                    Dtype
---   ------                                    -----
 0    caseid                                    int64
 1    tt_visits                                 int64
 2    tt_domains                                int64
 3    bl_ddg_join_ads                           float64
 4    bl_third_party_cookies                    float64
 5    bl_canvas_fingerprinting                  float64
 6    bl_session_recording                      float64
 7    bl_key_logging                            float64
 8    bl_fb_pixel                               float64
 9    bl_google_analytics                       float64
 10   who_adult_advertising                     float64
 11   who_advertising                           float64
 12   who_audio_video_player                    float64
 13   who_consent_management                    float64
 14   who_customer_interaction                  float64
 15   who_data_saved                            float64
 16   who_hosting                               float64
 17   who_misc                                  float64
 18   who_site_analytics                        float64
 19   who_social_media                          float64
 20   who_trackers_per_page_load                float64
 21   who_trackers_requests_all_requests        float64
 22   who_tracking_requests_per_page_load       float64
 23   who_utilities                             float64
 24   birthyr                                   int64
 25   gender                                    int64
 26   race                                      int64
 27   educ                                      int64
 28   pid3                                      int64
 29   pid7                                      int64
 30   presvote20post                            int64
 31   inputstate                                int64
 32   region                                    int64
 33   gender_lab                                object
 34   race_lab                                  object
 35   educ_lab                                  object
 36   agegroup_lab                              category
 37   bl_ddg_join_ads_rate                      float64
 38   bl_ddg_join_ads_al1                       bool
 39   bl_ddg_join_ads_al3                       bool
 40   bl_ddg_join_ads_al5                       bool
 41   bl_ddg_join_ads_al10                      bool
 42   bl_third_party_cookies_rate               float64
 43   bl_third_party_cookies_al1                bool
 44   bl_third_party_cookies_al3                bool
 45   bl_third_party_cookies_al5                bool
 46   bl_third_party_cookies_al10               bool
 47   bl_canvas_fingerprinting_rate             float64
 48   bl_canvas_fingerprinting_al1              bool
 49   bl_canvas_fingerprinting_al3              bool
 50   bl_canvas_fingerprinting_al5              bool
 51   bl_canvas_fingerprinting_al10             bool
 52   bl_session_recording_rate                 float64
 53   bl_session_recording_al1                  bool
 54   bl_session_recording_al3                  bool
 55   bl_session_recording_al5                  bool
 56   bl_session_recording_al10                 bool
 57   bl_key_logging_rate                       float64
 58   bl_key_logging_al1                        bool
 59   bl_key_logging_al3                        bool
 60   bl_key_logging_al5                        bool
 61   bl_key_logging_al10                       bool
 62   bl_fb_pixel_rate                          float64
 63   bl_fb_pixel_al1                           bool
 64   bl_fb_pixel_al3                           bool
 65   bl_fb_pixel_al5                           bool
 66   bl_fb_pixel_al10                          bool
 67   bl_google_analytics_rate                  float64
 68   bl_google_analytics_al1                   bool
 69   bl_google_analytics_al3                   bool
 70   bl_google_analytics_al5                   bool
 71   bl_google_analytics_al10                  bool
 72   who_trackers_per_page_load_rate           float64
 73   who_trackers_per_page_load_al1            bool
 74   who_trackers_per_page_load_al3            bool
 75   who_trackers_per_page_load_al5            bool
 76   who_trackers_per_page_load_al10           bool
 77   who_tracking_requests_per_page_load_rate  float64
 78   who_tracking_requests_per_page_load_al1   bool
 79   who_tracking_requests_per_page_load_al3   bool
 80   who_tracking_requests_per_page_load_al5   bool
 81   who_tracking_requests_per_page_load_al10  bool
 82   who_trackers_requests_all_requests_rate   float64
 83   who_trackers_requests_all_requests_al1    bool
 84   who_trackers_requests_all_requests_al3    bool
 85   who_trackers_requests_all_requests_al5    bool
 86   who_trackers_requests_all_requests_al10   bool
 87   who_data_saved_rate                       float64
 88   who_data_saved_al1                        bool
 89   who_data_saved_al3                        bool
 90   who_data_saved_al5                        bool
 91   who_data_saved_al10                       bool
 92   who_advertising_rate                      float64
 93   who_advertising_al1                       bool
 94   who_advertising_al3                       bool
 95   who_advertising_al5                       bool
 96   who_advertising_al10                      bool
 97   who_audio_video_player_rate               float64
 98   who_audio_video_player_al1                bool
 99   who_audio_video_player_al3                bool
 100  who_audio_video_player_al5                bool
 101  who_audio_video_player_al10               bool
 102  who_customer_interaction_rate             float64
 103  who_customer_interaction_al1              bool
 104  who_customer_interaction_al3              bool
 105  who_customer_interaction_al5              bool
 106  who_customer_interaction_al10             bool
 107  who_hosting_rate                          float64
 108  who_hosting_al1                           bool
 109  who_hosting_al3                           bool
 110  who_hosting_al5                           bool
 111  who_hosting_al10                          bool
 112  who_consent_management_rate               float64
 113  who_consent_management_al1                bool
 114  who_consent_management_al3                bool
 115  who_consent_management_al5                bool
 116  who_consent_management_al10               bool
 117  who_site_analytics_rate                   float64
 118  who_site_analytics_al1                    bool
 119  who_site_analytics_al3                    bool
 120  who_site_analytics_al5                    bool
 121  who_site_analytics_al10                   bool
 122  who_misc_rate                             float64
 123  who_misc_al1                              bool
 124  who_misc_al3                              bool
 125  who_misc_al5                              bool
 126  who_misc_al10                             bool
 127  who_utilities_rate                        float64
 128  who_utilities_al1                         bool
 129  who_utilities_al3                         bool
 130  who_utilities_al5                         bool
 131  who_utilities_al10                        bool
 132  who_social_media_rate                     float64
 133  who_social_media_al1                      bool
 134  who_social_media_al3                      bool
 135  who_social_media_al5                      bool
 136  who_social_media_al10                     bool
 137  who_adult_advertising_rate                float64
 138  who_adult_advertising_al1                 bool
 139  who_adult_advertising_al3                 bool
 140  who_adult_advertising_al5                 bool
 141  who_adult_advertising_al10                bool
dtypes: bool(84), category(1), float64(42), int64(12), object(3)
memory usage: 599.4+ KB

In [77]:
# 2 caseid has no tracking data at all
df.query("bl_third_party_cookies!=bl_third_party_cookies")

,caseid,tt_visits,tt_domains,bl_ddg_join_ads,bl_third_party_cookies,bl_canvas_fingerprinting,bl_session_recording,bl_key_logging,bl_fb_pixel,bl_google_analytics,...,who_social_media_rate,who_social_media_al1,who_social_media_al3,who_social_media_al5,who_social_media_al10,who_adult_advertising_rate,who_adult_advertising_al1,who_adult_advertising_al3,who_adult_advertising_al5,who_adult_advertising_al10
585,233892273,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,False,False,False,False,NaN,False,False,False,False
863,292286781,13,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,False,False,False,False,NaN,False,False,False,False

In [78]:
df = df.dropna(
    subset=[
        "bl_ddg_join_ads",
        "bl_third_party_cookies",
        "bl_canvas_fingerprinting",
        "bl_session_recording",
        "bl_key_logging",
        "bl_fb_pixel",
        "bl_google_analytics",
        "who_adult_advertising",
        "who_advertising",
        "who_audio_video_player",
        "who_consent_management",
        "who_customer_interaction",
        "who_data_saved",
        "who_hosting",
        "who_misc",
        "who_site_analytics",
        "who_social_media",
        "who_trackers_per_page_load",
        "who_trackers_requests_all_requests",
        "who_tracking_requests_per_page_load",
        "who_utilities",
        "bl_ddg_join_ads_rate",
        "bl_third_party_cookies_rate",
        "bl_canvas_fingerprinting_rate",
        "bl_session_recording_rate",
        "bl_key_logging_rate",
        "bl_fb_pixel_rate",
        "bl_google_analytics_rate",
        "who_trackers_per_page_load_rate",
        "who_tracking_requests_per_page_load_rate",
        "who_trackers_requests_all_requests_rate",
        "who_data_saved_rate",
        "who_advertising_rate",
        "who_audio_video_player_rate",
        "who_customer_interaction_rate",
        "who_hosting_rate",
        "who_consent_management_rate",
        "who_site_analytics_rate",
        "who_misc_rate",
        "who_utilities_rate",
        "who_social_media_rate",
        "who_adult_advertising_rate",
    ],
    how="all",
)
df

,caseid,tt_visits,tt_domains,bl_ddg_join_ads,bl_third_party_cookies,bl_canvas_fingerprinting,bl_session_recording,bl_key_logging,bl_fb_pixel,bl_google_analytics,...,who_social_media_rate,who_social_media_al1,who_social_media_al3,who_social_media_al5,who_social_media_al10,who_adult_advertising_rate,who_adult_advertising_al1,who_adult_advertising_al3,who_adult_advertising_al5,who_adult_advertising_al10
0,47541,17194,553,3107.0,4238.0,44.0,51.0,23.0,90.0,9.0,...,0.546702,True,True,True,True,0.000000,False,False,False,False
1,56565,11479,334,1606.0,2193.0,18.0,16.0,11.0,44.0,5.0,...,0.644655,True,True,True,True,0.000000,False,False,False,False
2,203271,6540,152,308.0,514.0,6.0,10.0,1.0,7.0,1.0,...,0.489297,True,True,True,True,0.000000,False,False,False,False
3,216457,1770,49,146.0,234.0,7.0,4.0,1.0,4.0,1.0,...,0.790960,True,True,True,True,0.000000,False,False,False,False
4,257495,10012,284,874.0,1149.0,21.0,15.0,10.0,29.0,5.0,...,0.589293,True,True,True,True,0.000000,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1129,342376013,5573,108,916.0,1205.0,11.0,4.0,1.0,12.0,2.0,...,1.256056,True,True,True,True,0.000000,False,False,False,False
1130,342383477,869,39,147.0,58.0,3.0,3.0,1.0,6.0,0.0,...,1.380898,True,True,True,True,0.000000,False,False,False,False
1131,343144813,839,25,5.0,7.0,0.0,0.0,0.0,0.0,0.0,...,0.119190,False,False,False,False,0.000000,False,False,False,False
1132,343195461,529,34,172.0,133.0,2.0,2.0,0.0,4.0,0.0,...,1.890359,True,True,True,False,0.567108,True,False,False,False
1133,343466645,1017,99,119.0,119.0,3.0,3.0,1.0,4.0,0.0,...,0.786627,True,True,True,False,1.179941,True,True,True,True

In [79]:
df["tt_visits"].describe()

count     1132.000000
mean      5509.557420
std       8251.136843
min          2.000000
25%        757.500000
50%       2551.000000
75%       7152.750000
max      86659.000000
Name: tt_visits, dtype: float64

In [80]:
df["tt_domains"].describe()

count    1132.000000
mean      164.660777
std       153.295839
min         1.000000
25%        54.000000
50%       123.000000
75%       220.000000
max      1009.000000
Name: tt_domains, dtype: float64

In [139]:
var_labels = {
    "tt_visits": "Total site visits",
    "tt_domains": "Total unique domains visited",
    # bl
    "bl_third_party_cookies_rate": "Third-Party Cookies",
    "bl_ddg_join_ads_rate": "Ad Trackers",
    "bl_key_logging_rate": "Key Logging",
    "bl_session_recording_rate": "Session Recording",
    "bl_canvas_fingerprinting_rate": "Canvas Fingerprinting",
    "bl_fb_pixel_rate": "Facebook Pixel",
    "bl_google_analytics_rate": "Google Analytics",
    "bl_third_party_cookies": "Third-Party Cookies",
    "bl_ddg_join_ads": "Ad Trackers",
    "bl_key_logging": "Key Logging",
    "bl_session_recording": "Session Recording",
    "bl_canvas_fingerprinting": "Canvas Fingerprinting",
    "bl_fb_pixel": "Facebook Pixel",
    "bl_google_analytics": "Google Analytics",
    # whotracksme
    #     "who_trackers_per_page_load_rate": "Trackers Per Page Load",
    #     "who_tracking_requests_per_page_load_rate": "Tracking Requests Per Page Load",
    #     "who_trackers_requests_all_requests_rate": "Total Tracking Requests",
    "who_data_saved_rate": "Data Saved",
    "who_advertising_rate": "Advertising",
    "who_audio_video_player_rate": "Audio/Video Player",
    "who_customer_interaction_rate": "Customer Interaction",
    "who_hosting_rate": "Hosting Services",
    "who_consent_management_rate": "Consent Management",
    "who_site_analytics_rate": "Site Analytics",
    "who_misc_rate": "Miscellaneous",
    "who_utilities_rate": "Utilities",
    "who_social_media_rate": "Social Media",
    "who_adult_advertising_rate": "Adult Advertising",
    "who_data_saved": "Data Saved",
    "who_advertising": "Advertising",
    "who_audio_video_player": "Audio/Video Player",
    "who_customer_interaction": "Customer Interaction",
    "who_hosting": "Hosting Services",
    "who_consent_management": "Consent Management",
    "who_site_analytics": "Site Analytics",
    "who_misc": "Miscellaneous",
    "who_utilities": "Utilities",
    "who_social_media": "Social Media",
    "who_adult_advertising": "Adult Advertising",
}

In [129]:
bl_measures = [
    "bl_ddg_join_ads_rate",
    "bl_third_party_cookies_rate",
    "bl_key_logging_rate",
    "bl_session_recording_rate",
    "bl_canvas_fingerprinting_rate",
    "bl_fb_pixel_rate",
    "bl_google_analytics_rate",
]

In [130]:
df_bl_summ = (
    df.select_columns(bl_measures)
    .describe(percentiles=[0.25, 0.5, 0.75])
    # =====================================================
    # Tidy table and Fromat numbers
    .T.reset_index(names="var")
    #     .assign(count=lambda df_: df_["count"].apply(lambda x: f"{int(x):,}"))
    .remove_columns("count")
    .round(1)
    .applymap(lambda x: f"{x:,.1f}" if isinstance(x, (float, int)) else x)
    .replace("_rate", "", regex=True)
    # =====================================================
    # Get at least one
    .merge(
        (
            df.select_columns(
                [
                    "bl_ddg_join_ads_al1",
                    "bl_third_party_cookies_al1",
                    "bl_canvas_fingerprinting_al1",
                    "bl_session_recording_al1",
                    "bl_key_logging_al1",
                    "bl_fb_pixel_al1",
                    "bl_google_analytics_al1",
                ]
            )
            .mean()
            .multiply(100)
            .round(1)
            .astype(str)
            .add("\%")
            .reset_index(name="atleast1")
            .rename_column("index", "var")
            .replace("_al1", "", regex=True)
        ),
        how="left",
        on="var",
        validate="1:1",
    )
    # =====================================================
    # Get at least ten
    .merge(
        (
            df.select_columns(
                [
                    "bl_ddg_join_ads_al10",
                    "bl_third_party_cookies_al10",
                    "bl_canvas_fingerprinting_al10",
                    "bl_session_recording_al10",
                    "bl_key_logging_al10",
                    "bl_fb_pixel_al10",
                    "bl_google_analytics_al10",
                ]
            )
            .mean()
            .multiply(100)
            .round(1)
            .astype(str)
            .add("\%")
            .reset_index(name="atleast10")
            .rename_column("index", "var")
            .replace("_al10", "", regex=True)
        ),
        how="left",
        on="var",
        validate="1:1",
    )
    .assign(var=lambda df_: df_["var"].replace(var_labels))
)
pandas_to_tex(df_bl_summ, "../tables/individual_blacklight_tt_exposure_summary")
df_bl_summ

,var,mean,std,min,25%,50%,75%,max,atleast1,atleast10
0,Ad Trackers,41.4,66.1,0.0,11.8,21.3,46.0,921.4,99.5\%,97.3\%
1,Third-Party Cookies,57.7,110.8,0.0,14.7,27.2,58.7,"2,192.9",99.6\%,97.7\%
2,Key Logging,0.2,0.4,0.0,0.0,0.1,0.2,8.3,70.8\%,10.2\%
3,Session Recording,0.4,0.6,0.0,0.1,0.2,0.4,10.0,81.6\%,31.7\%
4,Canvas Fingerprinting,0.4,0.8,0.0,0.1,0.2,0.5,12.5,85.6\%,34.0\%
5,Facebook Pixel,0.8,1.1,0.0,0.2,0.5,1.0,14.8,90.2\%,59.9\%
6,Google Analytics,0.1,0.2,0.0,0.0,0.0,0.1,4.8,54.4\%,4.1\%

In [131]:
wtm_measures = [
    "who_data_saved_rate",
    "who_advertising_rate",
    "who_audio_video_player_rate",
    "who_customer_interaction_rate",
    "who_hosting_rate",
    "who_consent_management_rate",
    "who_site_analytics_rate",
    "who_misc_rate",
    "who_utilities_rate",
    "who_social_media_rate",
    "who_adult_advertising_rate",
]

In [141]:
df_who_summ = (
    df.select_columns(wtm_measures)
    .describe(percentiles=[0.25, 0.5, 0.75])
    # =====================================================
    # Tidy table and Fromat numbers
    .T.reset_index(names="var")
    #     .assign(count=lambda df_: df_["count"].apply(lambda x: f"{int(x):,}"))
    .remove_columns("count")
    .round(1)
    .applymap(lambda x: f"{x:,.1f}" if isinstance(x, (float, int)) else x)
    .replace("_rate", "", regex=True)
    # =====================================================
    # Get at least one
    .merge(
        (
            df.select_columns(
                [
                    "who_data_saved_al1",
                    "who_advertising_al1",
                    "who_audio_video_player_al1",
                    "who_customer_interaction_al1",
                    "who_hosting_al1",
                    "who_consent_management_al1",
                    "who_site_analytics_al1",
                    "who_misc_al1",
                    "who_utilities_al1",
                    "who_social_media_al1",
                    "who_adult_advertising_al1",
                ]
            )
            .mean()
            .multiply(100)
            .round(1)
            .astype(str)
            .add("\%")
            .reset_index(name="atleast1")
            .rename_column("index", "var")
            .replace("_al1", "", regex=True)
        ),
        how="left",
        on="var",
        validate="1:1",
    )
    # =====================================================
    # Get at least ten
    .merge(
        (
            df.select_columns(
                [
                    "who_data_saved_al10",
                    "who_advertising_al10",
                    "who_audio_video_player_al10",
                    "who_customer_interaction_al10",
                    "who_hosting_al10",
                    "who_consent_management_al10",
                    "who_site_analytics_al10",
                    "who_misc_al10",
                    "who_utilities_al10",
                    "who_social_media_al10",
                    "who_adult_advertising_al10",
                ]
            )
            .mean()
            .multiply(100)
            .round(1)
            .astype(str)
            .add("\%")
            .reset_index(name="atleast10")
            .rename_column("index", "var")
            .replace("_al10", "", regex=True)
        ),
        how="left",
        on="var",
        validate="1:1",
    )
    .assign(var=lambda df_: df_["var"].replace(var_labels))
)
pandas_to_tex(df_who_summ, "../tables/individual_who_tt_exposure_summary")
df_who_summ

,var,mean,std,min,25%,50%,75%,max,atleast1,atleast10
0,Data Saved,19.4,33.4,0.0,4.6,9.7,20.6,393.1,99.9\%,96.1\%
1,Advertising,52.4,81.8,0.2,14.3,27.0,59.3,"1,200.0",100.0\%,98.3\%
2,Audio/Video Player,3.0,5.1,0.0,0.8,1.5,3.2,64.3,98.1\%,86.2\%
3,Customer Interaction,4.4,6.4,0.0,1.3,2.4,4.8,78.6,97.6\%,91.3\%
4,Hosting Services,20.5,30.6,0.1,5.7,10.9,21.7,300.0,100.0\%,99.2\%
5,Consent Management,1.9,2.9,0.0,0.5,1.0,2.1,33.3,94.6\%,78.6\%
6,Site Analytics,14.5,20.0,0.0,4.4,8.1,15.9,209.5,98.9\%,96.0\%
7,Miscellaneous,3.8,8.7,0.0,1.0,1.8,3.6,150.0,98.4\%,88.5\%
8,Utilities,4.2,5.8,0.0,1.2,2.4,4.8,75.0,97.5\%,90.2\%
9,Social Media,3.3,5.4,0.0,0.8,1.6,3.4,71.4,97.7\%,86.0\%
10,Adult Advertising,0.1,0.4,0.0,0.0,0.0,0.0,5.5,21.6\%,5.1\%

In [27]:
percentiles = [5, 10, 25, 50, 75, 90, 95]

In [28]:
demo_group = ["gender_lab", "race_lab", "educ_lab", "agegroup_lab"]

In [30]:
results = []
for measure in ["tt_visits", "tt_domains"]:
    for demo in demo_group:
        summary_df = calculate_summary_statistics(
            df,
            groupby_column=demo,
            value_column=measure,
            percentiles=percentiles,
        ).assign(tracker_measure=measure)

        if demo == "agegroup_lab":
            summary_df = summary_df.sort_values(by=demo)

        display(summary_df)
        results.append(summary_df)

,gender_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
0,Female,595 (52.5\%),5091.6,7177.6,2,71.4,202.2,730.5,2306.0,6496.0,14326.8,19119.8,48510,tt_visits
1,Male,539 (47.5\%),5950.5,9271.8,2,61.5,163.8,767.5,2665.0,7625.0,14353.8,21273.3,86659,tt_visits

,race_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
0,White,720 (63.5\%),5779.7,8172.5,2,78.0,227.1,839.0,2773.0,7528.0,15435.6,20742.9,79210,tt_visits
1,Hispanic,168 (14.8\%),4490.5,8565.4,2,40.0,154.0,497.0,1592.0,5030.2,11893.2,14469.2,86659,tt_visits
2,Black,144 (12.7\%),4867.1,8163.6,3,64.5,141.5,702.2,1917.0,4973.2,12547.7,19378.8,46415,tt_visits
3,Other,56 (4.9\%),5130.5,6654.8,11,41.2,104.5,598.2,1978.0,7793.0,12734.0,16323.8,29292,tt_visits
4,Asian,46 (4.1\%),7236.9,9875.8,6,18.5,223.0,1134.2,3996.5,10771.5,16080.5,18525.5,54986,tt_visits

,educ_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
0,HS or Below,411 (36.2\%),4691.2,7441.4,2,50.0,135.0,525.5,1702.0,5517.5,12880.0,19017.5,79210,tt_visits
1,Some college,326 (28.7\%),5140.9,7423.7,2,99.5,235.5,860.0,2361.5,6691.2,12498.5,18998.2,53193,tt_visits
2,College,255 (22.5\%),6755.0,9919.7,4,142.5,306.0,965.5,3130.0,9130.5,17455.8,22187.5,86659,tt_visits
3,Postgrad,142 (12.5\%),6410.6,8679.3,5,39.2,134.5,1080.0,3674.0,7634.2,15118.4,21316.8,53725,tt_visits

,agegroup_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
4,<25,93 (8.2\%),3629.6,6153.1,12,45.8,135.2,501.0,1355.0,3834.0,9295.0,13405.0,41350,tt_visits
3,25-34,200 (17.6\%),4936.3,10324.7,2,24.6,170.5,754.0,1571.0,4486.2,12142.9,17913.4,86659,tt_visits
1,35-49,285 (25.1\%),4542.1,6936.8,2,56.2,114.2,535.0,1856.0,5432.0,12973.4,17802.4,53725,tt_visits
0,50-64,288 (25.4\%),5962.6,7998.4,16,94.5,249.1,861.0,2781.5,8213.8,14923.7,20281.6,53193,tt_visits
2,65+,268 (23.6\%),7090.6,8423.9,5,156.1,366.1,1352.8,4041.0,9510.8,18255.2,22252.7,48510,tt_visits

,gender_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
0,Female,595 (52.5\%),166.8,153.6,1,11.0,24.0,57.5,125.0,219.5,348.4,474.9,1009,tt_domains
1,Male,539 (47.5\%),161.6,153.1,1,10.0,19.8,48.0,113.0,221.0,375.2,467.5,956,tt_domains

,race_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
0,White,720 (63.5\%),171.9,156.9,1,13.9,24.9,55.0,125.0,234.2,372.1,504.1,928,tt_domains
1,Hispanic,168 (14.8\%),143.5,125.1,1,6.0,15.7,48.0,106.5,210.2,288.7,403.4,797,tt_domains
2,Black,144 (12.7\%),155.3,176.9,2,8.2,18.3,47.2,108.5,183.2,329.4,471.0,1009,tt_domains
3,Other,56 (4.9\%),151.5,127.6,4,7.8,14.5,48.2,136.5,216.5,320.5,363.2,671,tt_domains
4,Asian,46 (4.1\%),167.5,133.7,2,3.8,17.0,64.5,146.5,225.8,395.5,422.2,505,tt_domains

,educ_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
0,HS or Below,411 (36.2\%),145.2,141.1,1,8.0,17.0,43.0,105.0,195.0,329.0,417.5,891,tt_domains
1,Some college,326 (28.7\%),162.8,148.2,1,12.2,21.0,60.2,120.5,222.0,345.0,442.5,956,tt_domains
2,College,255 (22.5\%),187.7,171.7,1,17.7,28.0,61.0,138.0,271.5,388.8,518.2,1009,tt_domains
3,Postgrad,142 (12.5\%),181.6,157.8,1,4.1,15.4,79.8,151.0,219.0,422.2,481.8,879,tt_domains

,agegroup_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
4,<25,93 (8.2\%),120.7,142.5,3,5.6,12.0,37.0,74.0,150.0,254.8,419.2,956,tt_domains
3,25-34,200 (17.6\%),130.6,120.3,1,5.0,18.0,45.0,96.0,180.2,269.3,380.5,797,tt_domains
1,35-49,285 (25.1\%),146.2,137.8,1,6.4,17.0,45.0,113.0,198.0,299.6,375.4,1009,tt_domains
0,50-64,288 (25.4\%),179.0,153.3,4,17.4,29.0,67.5,135.0,239.0,381.4,483.5,930,tt_domains
2,65+,268 (23.6\%),208.5,180.1,1,15.7,28.0,76.8,158.5,287.0,438.2,552.6,928,tt_domains

In [29]:
results = []
for measure in bl_measures:
    for demo in demo_group:
        summary_df = calculate_summary_statistics(
            df,
            groupby_column=demo,
            value_column=measure,
            percentiles=percentiles,
        ).assign(tracker_measure=measure)

        if demo == "agegroup_lab":
            summary_df = summary_df.sort_values(by=demo)

        display(summary_df)
        results.append(summary_df)

,gender_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
0,Female,595 (52.5\%),41.9,55.5,0.0,5.2,7.6,12.9,22.8,53.0,94.3,128.6,561.9,bl_ddg_join_ads_rate
1,Male,539 (47.5\%),40.8,76.3,0.0,4.4,6.2,10.5,19.9,39.8,89.3,136.2,921.4,bl_ddg_join_ads_rate

,race_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
0,White,720 (63.5\%),41.0,64.6,0.0,4.9,6.9,11.7,20.8,43.7,94.0,144.5,921.4,bl_ddg_join_ads_rate
1,Hispanic,168 (14.8\%),49.7,83.6,0.8,4.6,8.7,13.1,24.1,57.8,108.4,155.7,828.1,bl_ddg_join_ads_rate
2,Black,144 (12.7\%),35.2,35.7,0.0,4.1,6.0,11.5,22.0,51.4,87.6,97.1,213.9,bl_ddg_join_ads_rate
3,Other,56 (4.9\%),48.9,98.3,2.7,4.6,7.0,10.5,19.7,42.4,84.4,155.6,561.9,bl_ddg_join_ads_rate
4,Asian,46 (4.1\%),26.9,28.4,3.2,5.0,5.6,8.4,17.0,33.3,65.2,89.2,133.3,bl_ddg_join_ads_rate

,educ_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
0,HS or Below,411 (36.2\%),43.0,66.4,0.7,4.7,6.5,11.8,21.3,54.5,95.5,130.8,828.1,bl_ddg_join_ads_rate
1,Some college,326 (28.7\%),43.6,62.7,0.0,5.1,7.2,11.7,23.1,49.2,100.7,150.2,561.9,bl_ddg_join_ads_rate
2,College,255 (22.5\%),37.2,73.1,0.6,4.5,6.6,12.3,20.1,35.5,65.7,115.6,921.4,bl_ddg_join_ads_rate
3,Postgrad,142 (12.5\%),39.2,60.0,0.0,4.7,6.9,11.3,19.5,37.6,84.9,118.3,423.1,bl_ddg_join_ads_rate

,agegroup_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
4,<25,93 (8.2\%),36.8,44.6,2.7,4.9,7.3,12.1,23.8,34.9,95.8,105.3,292.6,bl_ddg_join_ads_rate
3,25-34,200 (17.6\%),44.2,96.9,0.0,3.1,4.9,10.0,20.8,39.1,86.4,130.0,921.4,bl_ddg_join_ads_rate
1,35-49,285 (25.1\%),46.7,55.2,0.5,4.4,7.0,13.1,27.5,59.1,105.1,149.9,476.9,bl_ddg_join_ads_rate
0,50-64,288 (25.4\%),43.4,67.3,3.0,5.5,7.2,11.4,20.9,49.6,95.4,125.7,529.4,bl_ddg_join_ads_rate
2,65+,268 (23.6\%),33.1,51.7,0.0,5.9,7.8,12.4,18.8,28.2,68.7,107.9,561.9,bl_ddg_join_ads_rate

,gender_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
0,Female,595 (52.5\%),57.5,84.6,0.0,6.8,9.4,15.5,29.4,66.6,127.8,198.7,900.0,bl_third_party_cookies_rate
1,Male,539 (47.5\%),57.9,134.0,0.0,5.3,7.9,14.0,25.1,50.9,120.1,189.4,2192.9,bl_third_party_cookies_rate

,race_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
0,White,720 (63.5\%),58.1,115.3,0.0,6.5,9.0,14.8,26.7,57.3,126.3,207.6,2192.9,bl_third_party_cookies_rate
1,Hispanic,168 (14.8\%),69.1,128.2,0.0,6.2,11.4,17.4,30.5,74.3,154.1,217.0,1221.9,bl_third_party_cookies_rate
2,Black,144 (12.7\%),46.9,49.4,0.0,5.3,7.7,14.3,27.9,69.7,114.6,124.5,326.7,bl_third_party_cookies_rate
3,Other,56 (4.9\%),66.4,143.4,3.2,4.7,7.3,13.2,28.5,47.5,121.5,204.9,900.0,bl_third_party_cookies_rate
4,Asian,46 (4.1\%),32.2,30.1,0.0,4.8,7.4,9.3,22.9,48.8,71.2,90.9,142.8,bl_third_party_cookies_rate

,educ_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
0,HS or Below,411 (36.2\%),58.8,98.1,0.0,5.3,8.3,14.0,27.8,69.6,126.5,198.5,1221.9,bl_third_party_cookies_rate
1,Some college,326 (28.7\%),60.7,96.6,0.3,6.8,9.3,15.0,29.0,63.9,138.4,212.6,900.0,bl_third_party_cookies_rate
2,College,255 (22.5\%),54.8,152.5,0.0,5.7,7.9,14.6,25.7,46.2,87.6,158.3,2192.9,bl_third_party_cookies_rate
3,Postgrad,142 (12.5\%),52.8,84.4,0.0,6.4,9.2,16.4,25.3,49.7,108.2,171.1,587.5,bl_third_party_cookies_rate

,agegroup_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
4,<25,93 (8.2\%),51.4,62.4,3.5,7.2,8.8,14.0,27.9,52.1,150.4,189.3,307.4,bl_third_party_cookies_rate
3,25-34,200 (17.6\%),67.6,188.1,0.0,3.9,6.2,13.0,28.7,52.9,120.9,207.2,2192.9,bl_third_party_cookies_rate
1,35-49,285 (25.1\%),62.4,83.5,0.0,5.4,8.3,15.8,31.8,77.0,138.9,203.4,755.1,bl_third_party_cookies_rate
0,50-64,288 (25.4\%),58.7,96.3,1.2,6.7,9.2,14.6,27.4,63.5,123.3,175.6,855.9,bl_third_party_cookies_rate
2,65+,268 (23.6\%),46.4,83.0,0.0,7.7,9.8,15.0,23.3,36.5,88.4,166.4,900.0,bl_third_party_cookies_rate

,gender_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
0,Female,595 (52.5\%),0.2,0.4,0.0,0.0,0.0,0.0,0.1,0.2,0.6,0.8,8.3,bl_key_logging_rate
1,Male,539 (47.5\%),0.2,0.5,0.0,0.0,0.0,0.0,0.1,0.2,0.4,0.7,6.2,bl_key_logging_rate

,race_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
0,White,720 (63.5\%),0.2,0.4,0.0,0.0,0.0,0.0,0.1,0.2,0.5,0.7,5.0,bl_key_logging_rate
1,Hispanic,168 (14.8\%),0.3,0.8,0.0,0.0,0.0,0.0,0.1,0.2,0.5,0.8,8.3,bl_key_logging_rate
2,Black,144 (12.7\%),0.2,0.3,0.0,0.0,0.0,0.0,0.1,0.2,0.4,0.6,2.6,bl_key_logging_rate
3,Other,56 (4.9\%),0.2,0.4,0.0,0.0,0.0,0.0,0.1,0.2,0.4,0.8,2.6,bl_key_logging_rate
4,Asian,46 (4.1\%),0.1,0.2,0.0,0.0,0.0,0.0,0.1,0.1,0.3,0.5,0.9,bl_key_logging_rate

,educ_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
0,HS or Below,411 (36.2\%),0.2,0.4,0.0,0.0,0.0,0.0,0.1,0.2,0.5,0.7,6.2,bl_key_logging_rate
1,Some college,326 (28.7\%),0.2,0.6,0.0,0.0,0.0,0.0,0.1,0.3,0.6,0.9,8.3,bl_key_logging_rate
2,College,255 (22.5\%),0.2,0.3,0.0,0.0,0.0,0.0,0.1,0.2,0.3,0.6,2.0,bl_key_logging_rate
3,Postgrad,142 (12.5\%),0.2,0.5,0.0,0.0,0.0,0.0,0.1,0.2,0.4,0.7,5.0,bl_key_logging_rate

,agegroup_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
4,<25,93 (8.2\%),0.2,0.9,0.0,0.0,0.0,0.0,0.1,0.2,0.4,0.6,8.3,bl_key_logging_rate
3,25-34,200 (17.6\%),0.2,0.5,0.0,0.0,0.0,0.0,0.1,0.2,0.4,0.8,6.2,bl_key_logging_rate
1,35-49,285 (25.1\%),0.2,0.3,0.0,0.0,0.0,0.0,0.1,0.3,0.5,0.8,1.7,bl_key_logging_rate
0,50-64,288 (25.4\%),0.2,0.4,0.0,0.0,0.0,0.0,0.1,0.2,0.6,0.7,5.0,bl_key_logging_rate
2,65+,268 (23.6\%),0.2,0.3,0.0,0.0,0.0,0.0,0.1,0.2,0.3,0.6,2.6,bl_key_logging_rate

,gender_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
0,Female,595 (52.5\%),0.4,0.6,0.0,0.0,0.0,0.1,0.2,0.5,0.9,1.3,9.1,bl_session_recording_rate
1,Male,539 (47.5\%),0.3,0.7,0.0,0.0,0.0,0.1,0.2,0.4,0.7,1.1,10.0,bl_session_recording_rate

,race_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
0,White,720 (63.5\%),0.4,0.6,0.0,0.0,0.0,0.1,0.2,0.4,0.8,1.3,10.0,bl_session_recording_rate
1,Hispanic,168 (14.8\%),0.4,0.4,0.0,0.0,0.0,0.1,0.2,0.6,1.0,1.3,2.6,bl_session_recording_rate
2,Black,144 (12.7\%),0.4,0.6,0.0,0.0,0.0,0.1,0.2,0.5,0.8,1.1,5.3,bl_session_recording_rate
3,Other,56 (4.9\%),0.5,1.2,0.0,0.0,0.0,0.1,0.2,0.4,0.8,1.1,9.1,bl_session_recording_rate
4,Asian,46 (4.1\%),0.2,0.2,0.0,0.0,0.0,0.1,0.1,0.2,0.4,0.6,1.1,bl_session_recording_rate

,educ_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
0,HS or Below,411 (36.2\%),0.4,0.5,0.0,0.0,0.0,0.1,0.2,0.5,0.9,1.3,3.7,bl_session_recording_rate
1,Some college,326 (28.7\%),0.4,0.6,0.0,0.0,0.0,0.1,0.2,0.5,0.9,1.4,5.3,bl_session_recording_rate
2,College,255 (22.5\%),0.3,0.6,0.0,0.0,0.0,0.1,0.2,0.4,0.7,1.0,6.2,bl_session_recording_rate
3,Postgrad,142 (12.5\%),0.4,1.1,0.0,0.0,0.0,0.1,0.2,0.4,0.7,0.9,10.0,bl_session_recording_rate

,agegroup_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
4,<25,93 (8.2\%),0.3,0.5,0.0,0.0,0.0,0.1,0.2,0.3,0.6,0.8,3.7,bl_session_recording_rate
3,25-34,200 (17.6\%),0.3,0.5,0.0,0.0,0.0,0.1,0.2,0.4,0.8,1.0,4.3,bl_session_recording_rate
1,35-49,285 (25.1\%),0.4,0.7,0.0,0.0,0.0,0.1,0.2,0.5,1.0,1.4,9.1,bl_session_recording_rate
0,50-64,288 (25.4\%),0.5,0.9,0.0,0.0,0.1,0.1,0.2,0.5,0.9,1.4,10.0,bl_session_recording_rate
2,65+,268 (23.6\%),0.3,0.3,0.0,0.0,0.1,0.1,0.2,0.3,0.6,1.0,2.6,bl_session_recording_rate

,gender_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
0,Female,595 (52.5\%),0.5,0.8,0.0,0.0,0.1,0.1,0.3,0.6,1.0,1.4,12.5,bl_canvas_fingerprinting_rate
1,Male,539 (47.5\%),0.4,0.7,0.0,0.0,0.0,0.1,0.2,0.4,0.8,1.3,5.6,bl_canvas_fingerprinting_rate

,race_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
0,White,720 (63.5\%),0.4,0.7,0.0,0.0,0.0,0.1,0.2,0.5,0.8,1.2,12.5,bl_canvas_fingerprinting_rate
1,Hispanic,168 (14.8\%),0.5,0.7,0.0,0.0,0.0,0.1,0.3,0.6,1.2,1.6,4.8,bl_canvas_fingerprinting_rate
2,Black,144 (12.7\%),0.4,0.7,0.0,0.0,0.0,0.1,0.2,0.5,1.0,1.4,5.9,bl_canvas_fingerprinting_rate
3,Other,56 (4.9\%),0.7,1.5,0.0,0.0,0.0,0.1,0.2,0.7,1.3,4.4,9.1,bl_canvas_fingerprinting_rate
4,Asian,46 (4.1\%),0.2,0.3,0.0,0.0,0.0,0.1,0.1,0.3,0.4,0.6,1.7,bl_canvas_fingerprinting_rate

,educ_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
0,HS or Below,411 (36.2\%),0.4,0.7,0.0,0.0,0.0,0.1,0.2,0.5,1.0,1.5,5.9,bl_canvas_fingerprinting_rate
1,Some college,326 (28.7\%),0.4,0.6,0.0,0.0,0.1,0.1,0.3,0.6,1.0,1.4,4.8,bl_canvas_fingerprinting_rate
2,College,255 (22.5\%),0.4,0.5,0.0,0.0,0.0,0.1,0.2,0.4,0.7,1.0,5.6,bl_canvas_fingerprinting_rate
3,Postgrad,142 (12.5\%),0.5,1.4,0.0,0.0,0.0,0.1,0.2,0.4,0.8,1.5,12.5,bl_canvas_fingerprinting_rate

,agegroup_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
4,<25,93 (8.2\%),0.4,0.6,0.0,0.0,0.0,0.1,0.2,0.4,0.7,0.9,4.8,bl_canvas_fingerprinting_rate
3,25-34,200 (17.6\%),0.4,0.6,0.0,0.0,0.0,0.1,0.3,0.5,0.8,1.2,5.9,bl_canvas_fingerprinting_rate
1,35-49,285 (25.1\%),0.5,1.0,0.0,0.0,0.0,0.1,0.3,0.6,1.1,1.5,12.5,bl_canvas_fingerprinting_rate
0,50-64,288 (25.4\%),0.5,0.7,0.0,0.0,0.1,0.1,0.2,0.6,0.9,1.4,5.6,bl_canvas_fingerprinting_rate
2,65+,268 (23.6\%),0.4,0.6,0.0,0.0,0.1,0.1,0.2,0.4,0.7,1.2,5.3,bl_canvas_fingerprinting_rate

,gender_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
0,Female,595 (52.5\%),0.9,1.0,0.0,0.0,0.1,0.3,0.5,1.1,2.1,2.7,9.5,bl_fb_pixel_rate
1,Male,539 (47.5\%),0.8,1.2,0.0,0.0,0.1,0.2,0.4,0.8,1.6,2.8,14.8,bl_fb_pixel_rate

,race_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
0,White,720 (63.5\%),0.8,1.1,0.0,0.1,0.1,0.2,0.5,0.9,2.0,2.9,14.8,bl_fb_pixel_rate
1,Hispanic,168 (14.8\%),1.0,1.2,0.0,0.0,0.1,0.3,0.6,1.3,2.2,2.8,12.5,bl_fb_pixel_rate
2,Black,144 (12.7\%),0.7,0.9,0.0,0.0,0.0,0.2,0.4,1.0,1.8,2.5,5.3,bl_fb_pixel_rate
3,Other,56 (4.9\%),1.0,1.7,0.0,0.0,0.1,0.3,0.5,1.0,1.7,2.3,9.5,bl_fb_pixel_rate
4,Asian,46 (4.1\%),0.5,0.5,0.0,0.0,0.1,0.1,0.3,0.6,1.1,1.5,2.7,bl_fb_pixel_rate

,educ_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
0,HS or Below,411 (36.2\%),0.9,1.3,0.0,0.0,0.1,0.3,0.5,1.2,2.2,2.9,14.8,bl_fb_pixel_rate
1,Some college,326 (28.7\%),0.9,1.1,0.0,0.1,0.1,0.3,0.5,1.1,2.1,2.8,9.5,bl_fb_pixel_rate
2,College,255 (22.5\%),0.7,0.8,0.0,0.0,0.1,0.2,0.4,0.8,1.3,2.4,5.1,bl_fb_pixel_rate
3,Postgrad,142 (12.5\%),0.7,0.8,0.0,0.0,0.1,0.2,0.4,0.7,1.5,2.3,5.0,bl_fb_pixel_rate

,agegroup_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
4,<25,93 (8.2\%),0.9,1.7,0.0,0.0,0.1,0.2,0.4,0.9,1.9,2.6,14.8,bl_fb_pixel_rate
3,25-34,200 (17.6\%),0.8,1.2,0.0,0.0,0.1,0.2,0.5,1.0,2.0,2.6,12.5,bl_fb_pixel_rate
1,35-49,285 (25.1\%),0.9,1.0,0.0,0.0,0.1,0.3,0.5,1.2,2.2,2.9,6.4,bl_fb_pixel_rate
0,50-64,288 (25.4\%),0.9,1.0,0.0,0.1,0.1,0.3,0.5,1.1,2.2,2.7,8.5,bl_fb_pixel_rate
2,65+,268 (23.6\%),0.7,1.0,0.0,0.1,0.2,0.3,0.4,0.7,1.4,2.7,9.5,bl_fb_pixel_rate

,gender_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
0,Female,595 (52.5\%),0.1,0.3,0.0,0.0,0.0,0.0,0.1,0.1,0.3,0.4,4.8,bl_google_analytics_rate
1,Male,539 (47.5\%),0.1,0.2,0.0,0.0,0.0,0.0,0.0,0.1,0.2,0.4,1.4,bl_google_analytics_rate

,race_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
0,White,720 (63.5\%),0.1,0.2,0.0,0.0,0.0,0.0,0.0,0.1,0.3,0.4,1.4,bl_google_analytics_rate
1,Hispanic,168 (14.8\%),0.1,0.2,0.0,0.0,0.0,0.0,0.0,0.1,0.4,0.5,1.1,bl_google_analytics_rate
2,Black,144 (12.7\%),0.1,0.3,0.0,0.0,0.0,0.0,0.0,0.1,0.3,0.4,2.6,bl_google_analytics_rate
3,Other,56 (4.9\%),0.2,0.6,0.0,0.0,0.0,0.0,0.1,0.1,0.2,0.4,4.8,bl_google_analytics_rate
4,Asian,46 (4.1\%),0.1,0.2,0.0,0.0,0.0,0.0,0.1,0.1,0.2,0.4,1.1,bl_google_analytics_rate

,educ_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
0,HS or Below,411 (36.2\%),0.1,0.2,0.0,0.0,0.0,0.0,0.0,0.1,0.3,0.4,1.4,bl_google_analytics_rate
1,Some college,326 (28.7\%),0.1,0.3,0.0,0.0,0.0,0.0,0.1,0.1,0.4,0.4,4.8,bl_google_analytics_rate
2,College,255 (22.5\%),0.1,0.2,0.0,0.0,0.0,0.0,0.1,0.1,0.3,0.5,1.4,bl_google_analytics_rate
3,Postgrad,142 (12.5\%),0.1,0.2,0.0,0.0,0.0,0.0,0.0,0.1,0.2,0.3,1.1,bl_google_analytics_rate

,agegroup_lab,count,mean,std,min,5,10,25,50,75,90,95,max,tracker_measure
4,<25,93 (8.2\%),0.1,0.2,0.0,0.0,0.0,0.0,0.0,0.1,0.3,0.5,1.1,bl_google_analytics_rate
3,25-34,200 (17.6\%),0.1,0.2,0.0,0.0,0.0,0.0,0.0,0.1,0.3,0.4,1.4,bl_google_analytics_rate
1,35-49,285 (25.1\%),0.1,0.2,0.0,0.0,0.0,0.0,0.1,0.1,0.4,0.5,1.4,bl_google_analytics_rate
0,50-64,288 (25.4\%),0.1,0.2,0.0,0.0,0.0,0.0,0.1,0.1,0.3,0.4,2.6,bl_google_analytics_rate
2,65+,268 (23.6\%),0.1,0.3,0.0,0.0,0.0,0.0,0.0,0.1,0.2,0.3,4.8,bl_google_analytics_rate