In [1]:
import os
import pandas as pd
import janitor

from utilities import pandas_to_tex
import warnings

warnings.filterwarnings("ignore")

FP_WEB_MOBILE = "../data/yg/realityMine_web_mobile_2022-06-01_2022-06-30.csv"
FP_WEB_DESKTOP = "../data/yg/realityMine_web_desktop_2022-06-01_2022-06-30.csv"
FP_WEB = "../data/yg/realityMine_web_2022-06-01_2022-06-30.csv"
FP_BLACKLIGHT = "../data/blacklight_domain.csv"

filepaths = dict(
    web_mobile=FP_WEB_MOBILE,
    web_desktop=FP_WEB_DESKTOP,
    web=FP_WEB,
    blacklight=FP_BLACKLIGHT,
)

print("Checking that all paths exist:")
{key: os.path.exists(path) for key, path in filepaths.items()}

Checking that all paths exist:

{'web_mobile': True, 'web_desktop': True, 'web': True, 'blacklight': True}

## Prep data

In [2]:
# (fold cell) Load and prep web browsing data
# output = df with visits to adult sites
usecols_webmobile_webdesktop = [
    "caseid",
    "category",
    "private_domain",
    "visit_duration",
    "visit_time_local",
    "page_views",
]
usecols_web = [
    "caseid",
    "category",
    "private_domain",
    "page_duration",
    "session_start_time",
]

df_visits = pd.concat(
    [
        # ===============================================
        # Get web_mobile
        pd.read_csv(
            filepaths["web_mobile"],
            usecols=usecols_webmobile_webdesktop,
            low_memory=False,
        ).assign(source="mobile_web"),
        # ===============================================
        # Get web_desktop
        pd.read_csv(
            filepaths["web_desktop"],
            usecols=usecols_webmobile_webdesktop,
            low_memory=False,
        ).assign(source="desktop_web"),
        # ===============================================
        # Get web
        (
            pd.read_csv(
                filepaths["web"],
                usecols=usecols_web,
                low_memory=False,
            )
            # Renaming columns to be consistent w/ web_mobile & web_desktop
            .rename_column("session_start_time", "visit_time_local")
            .rename_column("page_duration", "visit_duration")
            .assign(source="web")
            # Adding page_view to be consistent w/ web_mobile & web_desktop
            .assign(page_views=1)
        ),
    ]
)
print(f"{len(df_visits)=:,}")
df_visits.head()

len(df_visits)=6,297,382

,caseid,private_domain,category,visit_time_local,visit_duration,page_views,source
0,205323077,google.com,Search Engines and Portals,2022-05-31 23:52:37,2,1,mobile_web
1,205323077,coupons.com,"Business, Shopping",2022-06-01 01:07:35,457,10,mobile_web
2,205323077,google.com,Business,2022-06-01 01:15:12,55,1,mobile_web
3,205323077,coupons.com,"Business, Shopping",2022-06-01 01:16:07,2225,4,mobile_web
4,205323077,google.com,Search Engines and Portals,2022-06-01 04:38:10,10,1,mobile_web

In [3]:
# Get domain-category (using most common cat by visits)
df_domain_cat = (
    df_visits.groupby(["private_domain", "category"])
    .size()
    .reset_index(name="count")
    .sort_values(["private_domain", "count"], ascending=(True, False))
    .drop_duplicates("private_domain", keep="first")
    .remove_columns("count")
)
df_domain_cat

              private_domain                        category
0               007james.com         Business, Entertainment
1              0123movie.net  Entertainment, Illegal Content
2                08liter.com                        Business
3               09myuser.com                        Business
4                0redird.com                          Parked
...                      ...                             ...
30038                zyn.com  Alcohol and Tobacco, Education
30041              zynga.com                           Games
30042  zyngaplayerforums.com                           Games
30043               zype.com   Adult, Information Technology
30046            zzounds.com              Business, Shopping

[25612 rows x 2 columns]

In [4]:
# Get domain-unique traffic from users
df_domain_traffic = (
    df_visits.groupby(["private_domain"])["caseid"]
    .nunique()
    .reset_index(name="traffic")
    .sort_values("traffic", ascending=False, ignore_index=True)
)

dict_domain_traffic = df_domain_traffic.set_index("private_domain")["traffic"].to_dict()

df_domain_traffic

             private_domain  traffic
0                google.com     1080
1              facebook.com      886
2                amazon.com      827
3               youtube.com      766
4                 yahoo.com      570
...                     ...      ...
64069         1007bobfm.com        1
64070  1-800-shaved-ice.com        1
64071    zooskoolvideos.com        1
64072          zyratalk.com        1
64073               zyn.com        1

[64074 rows x 2 columns]

In [5]:
df_blacklight = (
    pd.read_csv(filepaths["blacklight"])
    # Fix filename
    .assign(
        private_domain=lambda df_: df_["filename"].str.replace("_", ".", regex=False)
    )
    .remove_columns("filename")
    .reorder_columns(["private_domain"])
    .set_index("private_domain")
    .add_prefix("bl_")
    .reset_index()
)

df_blacklight

,private_domain,bl_ddg_join_ads,bl_third_party_cookies,bl_canvas_fingerprinting,bl_session_recording,bl_key_logging,bl_fb_pixel,bl_google_analytics
0,costarmanager.com,5,10,0,1,0,0,0
1,teasource.com,11,11,0,0,0,1,1
2,1800tequila.com,8,6,0,0,0,0,0
3,mazon.com,1,0,0,0,0,0,0
4,theancestorhunt.com,2,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
34073,methowtrails.org,1,0,0,0,0,0,0
34074,mistystoyaussies.com,4,6,0,0,0,0,0
34075,hellostarz.com,0,0,0,0,0,0,0
34076,kbdfans.com,5,7,0,0,0,0,1
34077,porn300.com,0,4,0,0,0,0,0

### Combine

In [6]:
# Combine
tracker_cols = [
    "bl_ddg_join_ads",
    "bl_third_party_cookies",
    "bl_fb_pixel",
    "bl_google_analytics",
    "bl_session_recording",
    "bl_key_logging",
    "bl_canvas_fingerprinting",
]

df = (
    df_visits.select_columns(["caseid", "private_domain"])
    # ================================================
    # Only get unique visits to domains
    .drop_duplicates(["caseid", "private_domain"])
    # Get tt unique traffic per domain
    .groupby(["private_domain"])
    .size()
    .reset_index(name="visits")
    .sort_values("visits", ascending=False, ignore_index=True)
    # ================================================
    # Get domain category
    .merge(df_domain_cat, how="left", on="private_domain", validate="m:1")
    .dropna(subset=["category"])
    # ================================================
    # Get trackers
    .merge(df_blacklight, how="left", on="private_domain", validate="m:1")
    # Get weighted sum
    .assign(**{k: lambda df_, col=k: df_[col] * df_["visits"] for k in tracker_cols})
    .reorder_columns(["private_domain", "visits", "category", *tracker_cols])
    #     # Then aggregate by category
    #     .remove_columns(["visits", "private_domain"])
    #     .groupby("category").sum().reset_index()
)
df.head(30)

,private_domain,visits,category,bl_ddg_join_ads,bl_third_party_cookies,bl_fb_pixel,bl_google_analytics,bl_session_recording,bl_key_logging,bl_canvas_fingerprinting
0,google.com,1080,Search Engines and Portals,3240.0,4320.0,0.0,0.0,0.0,0.0,0.0
1,facebook.com,886,"Business, Social Networking",0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,amazon.com,827,Shopping,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,youtube.com,766,"Entertainment, Streaming Media",1532.0,766.0,0.0,0.0,0.0,0.0,0.0
4,yahoo.com,570,Chat and Instant Messaging,17670.0,15960.0,0.0,0.0,0.0,570.0,0.0
5,yougov.com,544,"Business, Education",NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,paypal.com,541,"Business, Economy and Finance",0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,walmart.com,518,Shopping,518.0,0.0,0.0,0.0,0.0,0.0,0.0
8,bing.com,461,"News and Media, Search Engines and Portals",0.0,2305.0,0.0,0.0,0.0,0.0,0.0
9,wikipedia.org,456,Education,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,instagram.com,455,"Media Sharing, Social Networking",0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,twitter.com,440,Social Networking,440.0,880.0,0.0,0.0,0.0,0.0,0.0
12,microsoft.com,439,Information Technology,11414.0,18438.0,0.0,0.0,0.0,0.0,439.0
13,ebay.com,379,Shopping,5685.0,5685.0,379.0,0.0,0.0,0.0,0.0
14,linkedin.com,362,"Job Related, Social Networking",2172.0,2534.0,0.0,0.0,0.0,0.0,362.0
15,microsoftonline.com,348,Information Technology,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,msn.com,340,"News and Media, Streaming Media",1020.0,4420.0,0.0,0.0,0.0,0.0,0.0
17,reddit.com,323,"Messageboards and Forums, News and Media",323.0,323.0,0.0,0.0,0.0,0.0,0.0
18,google.co.uk,313,Search Engines and Portals,1252.0,2817.0,0.0,0.0,0.0,0.0,0.0
19,imdb.com,312,Entertainment,14352.0,15600.0,0.0,0.0,0.0,0.0,0.0
20,usps.com,309,Business,7107.0,618.0,309.0,0.0,0.0,0.0,0.0
21,decipherinc.com,301,Business,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,live.com,288,Chat and Instant Messaging,7200.0,11232.0,0.0,0.0,0.0,0.0,288.0
23,quora.com,261,"Education, Messageboards and Forums",0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,capitalone.com,242,Business,1694.0,3630.0,0.0,0.0,242.0,0.0,242.0
25,alchemer.com,240,"Business, Information Technology",240.0,480.0,0.0,0.0,0.0,0.0,0.0
26,clarity.ms,220,"Business, Information Technology",0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,homedepot.com,217,Shopping,2821.0,3038.0,217.0,0.0,217.0,0.0,217.0
28,tiktok.com,216,"Media Sharing, Social Networking",0.0,0.0,0.0,0.0,0.0,0.0,216.0
29,target.com,214,Shopping,1070.0,0.0,0.0,0.0,0.0,0.0,214.0

## Tab

In [7]:
df_long = (
    df.melt(
        id_vars=["category", "private_domain"],
        value_vars=tracker_cols,
        var_name="tracker_type",
        value_name="weighted_exposure",
    )
    .query("weighted_exposure>0")
    .reset_index(drop=True)
)
df_long

,category,private_domain,tracker_type,weighted_exposure
0,Search Engines and Portals,google.com,bl_ddg_join_ads,3240.0
1,"Entertainment, Streaming Media",youtube.com,bl_ddg_join_ads,1532.0
2,Chat and Instant Messaging,yahoo.com,bl_ddg_join_ads,17670.0
3,Shopping,walmart.com,bl_ddg_join_ads,518.0
4,Social Networking,twitter.com,bl_ddg_join_ads,440.0
...,...,...,...,...
25960,"Business, Education",yourvasurvey.info,bl_canvas_fingerprinting,1.0
25961,Adult,zeenite.com,bl_canvas_fingerprinting,1.0
25962,"Business, Education",zhihu.com,bl_canvas_fingerprinting,1.0
25963,"Business, Education",zipzipzipper.com,bl_canvas_fingerprinting,1.0
25964,"Business, Education",zonehaven.com,bl_canvas_fingerprinting,1.0

In [8]:
# tt exposure by category and tracker type
df_category_exposure = df_long.groupby(
    ["tracker_type", "category"], as_index=False
).agg(tt_exposure=("weighted_exposure", "sum"))
df_category_exposure

,tracker_type,category,tt_exposure
0,bl_canvas_fingerprinting,Adult,84.0
1,bl_canvas_fingerprinting,"Adult, Business",1.0
2,bl_canvas_fingerprinting,"Adult, Entertainment",20.0
3,bl_canvas_fingerprinting,"Adult, Entertainment, Shopping",1.0
4,bl_canvas_fingerprinting,"Adult, Entertainment, Streaming Media",2.0
...,...,...,...
1062,bl_third_party_cookies,Translation Sites,4.0
1063,bl_third_party_cookies,Travel,2774.0
1064,bl_third_party_cookies,Uncategorized,1672.0
1065,bl_third_party_cookies,Vehicles,1651.0
1066,bl_third_party_cookies,Weapons,69.0

In [9]:
_top_n = 5
df_top_categories = (
    df_category_exposure.sort_values(
        ["tracker_type", "tt_exposure"], ascending=[True, False], ignore_index=True
    )
    .groupby("tracker_type")
    .head(_top_n)
)
df_top_categories

                 tracker_type                          category  tt_exposure
0    bl_canvas_fingerprinting                          Shopping       1690.0
1    bl_canvas_fingerprinting                          Business       1422.0
2    bl_canvas_fingerprinting     Business, Economy and Finance        880.0
3    bl_canvas_fingerprinting                Business, Shopping        599.0
4    bl_canvas_fingerprinting            Information Technology        569.0
113           bl_ddg_join_ads                          Business     131742.0
114           bl_ddg_join_ads                          Shopping      52765.0
115           bl_ddg_join_ads               Business, Education      51039.0
116           bl_ddg_join_ads                     Entertainment      46705.0
117           bl_ddg_join_ads  Business, Information Technology      37926.0
383               bl_fb_pixel                          Business       4381.0
384               bl_fb_pixel                          Shopping       1955.0
385               bl_fb_pixel  Business, Information Technology       1267.0
386               bl_fb_pixel     Business, Economy and Finance       1198.0
387               bl_fb_pixel               Business, Education       1097.0
535       bl_google_analytics                          Business        615.0
536       bl_google_analytics                          Shopping        227.0
537       bl_google_analytics  Business, Information Technology        224.0
538       bl_google_analytics               Business, Education        184.0
539       bl_google_analytics                Business, Shopping        158.0
609            bl_key_logging                          Business       1350.0
610            bl_key_logging        Chat and Instant Messaging        570.0
611            bl_key_logging               Business, Education        515.0
612            bl_key_logging                          Shopping        411.0
613            bl_key_logging  Business, Information Technology        241.0
699      bl_session_recording                          Business       3147.0
700      bl_session_recording  Business, Information Technology        928.0
701      bl_session_recording                          Shopping        715.0
702      bl_session_recording               Business, Education        658.0
703      bl_session_recording     Business, Economy and Finance        461.0
820    bl_third_party_cookies                          Business     183013.0
821    bl_third_party_cookies                     Entertainment      80095.0
822    bl_third_party_cookies               Business, Education      79069.0
823    bl_third_party_cookies                          Shopping      60571.0
824    bl_third_party_cookies  Business, Information Technology      49716.0

In [10]:
_top_n = 5
df_top_domains = (
    df_long
    .merge(df_top_categories, on=["tracker_type", "category"])
    .sort_values(
        ["tracker_type", "category", "weighted_exposure"], ascending=[True, True, False]
    )
    .groupby(["tracker_type", "category"])
    .head(_top_n)
)
df_top_domains

,category,private_domain,tracker_type,weighted_exposure,tt_exposure
11784,Business,capitalone.com,bl_canvas_fingerprinting,242.0,1422.0
11789,Business,adobe.com,bl_canvas_fingerprinting,139.0,1422.0
11791,Business,hp.com,bl_canvas_fingerprinting,122.0,1422.0
11793,Business,xfinity.com,bl_canvas_fingerprinting,120.0,1422.0
11808,Business,comenity.net,bl_canvas_fingerprinting,41.0,1422.0
...,...,...,...,...,...
4852,Shopping,kohls.com,bl_third_party_cookies,9300.0,60571.0
4859,Shopping,qvc.com,bl_third_party_cookies,6624.0,60571.0
4832,Shopping,ebay.com,bl_third_party_cookies,5685.0,60571.0
4837,Shopping,homedepot.com,bl_third_party_cookies,3038.0,60571.0
4907,Shopping,michaels.com,bl_third_party_cookies,2795.0,60571.0

In [11]:
summary = {}

for tracker in tracker_cols:
    tracker_data = df_top_categories.query("tracker_type == @tracker")
    entries = []

    for _, row in tracker_data.iterrows():
        cat = row["category"]
        #             visits = row["total_visits"]
        top_domains = (
            df_top_domains.query("tracker_type == @tracker & category == @cat")
            .sort_values("weighted_exposure", ascending=False)
            .private_domain.tolist()
        )

        # Add (traffic) next to each domain
        top_domains_with_traffic = [
            f"{domain} ({dict_domain_traffic[domain]})" for domain in top_domains
        ]

        #             entry = f"{cat}: {', '.join(top_domains_with_traffic)}"
        entry = f"\\textbf{{{cat}}}: {', '.join(top_domains_with_traffic)}"
        entries.append(entry)

    summary[tracker] = entries

df_summary = (
    pd.DataFrame.from_dict(summary, orient="index")
    .transpose()
#     .assign(ix=range(1, 1 + _top_n))
#     .reorder_columns(["ix"])
)
df_summary

,bl_ddg_join_ads,bl_third_party_cookies,bl_fb_pixel,bl_google_analytics,bl_session_recording,bl_key_logging,bl_canvas_fingerprinting
0,"\textbf{Business}: usps.com (309), xfinity.com...","\textbf{Business}: xfinity.com (120), adobe.co...","\textbf{Business}: usps.com (309), ups.com (19...","\textbf{Business}: force.com (144), narvar.com...","\textbf{Business}: capitalone.com (242), attn....","\textbf{Business}: yelp.com (160), attn.tv (15...","\textbf{Shopping}: homedepot.com (217), target..."
1,"\textbf{Shopping}: kohls.com (124), ebay.com (...","\textbf{Entertainment}: imdb.com (312), looper...","\textbf{Shopping}: ebay.com (379), homedepot.c...","\textbf{Shopping}: kohls.com (124), hobbylobby...","\textbf{Business, Information Technology}: att...",\textbf{Chat and Instant Messaging}: yahoo.com...,"\textbf{Business}: capitalone.com (242), adobe..."
2,"\textbf{Business, Education}: weather.com (194...","\textbf{Business, Education}: weather.com (194...","\textbf{Business, Information Technology}: exp...","\textbf{Business, Information Technology}: eve...","\textbf{Shopping}: homedepot.com (217), kohls....","\textbf{Business, Education}: weather.com (194...","\textbf{Business, Economy and Finance}: discov..."
3,"\textbf{Entertainment}: imdb.com (312), looper...","\textbf{Shopping}: kohls.com (124), qvc.com (9...","\textbf{Business, Economy and Finance}: chase....","\textbf{Business, Education}: hubapi.com (20),...","\textbf{Business, Education}: gofundme.com (72...",\textbf{Shopping}: capitaloneshopping.com (154...,"\textbf{Business, Shopping}: rakuten.com (185)..."
4,"\textbf{Business, Information Technology}: pcm...","\textbf{Business, Information Technology}: spo...","\textbf{Business, Education}: gofundme.com (72...","\textbf{Business, Shopping}: coupons.com (43),...","\textbf{Business, Economy and Finance}: discov...","\textbf{Business, Information Technology}: spo...",\textbf{Information Technology}: microsoft.com...

In [12]:
pandas_to_tex(
    df_summary,
    texfile="../tables/bl_top_contributors_domain_category.tex",
    escape=False,
)

In [13]:
!cat ../tables/bl_top_contributors_domain_category.tex

\textbf{Business}: usps.com (309), xfinity.com (120), adobe.com (139), ups.com (196), hp.com (122) & \textbf{Business}: xfinity.com (120), adobe.com (139), attn.tv (157), nielseniq.com (136), gfk.com (73) & \textbf{Business}: usps.com (309), ups.com (196), attn.tv (157), adobe.com (139), nielseniq.com (136) & \textbf{Business}: force.com (144), narvar.com (61), adp.com (40), quantilope.com (31), epsilon.com (26) & \textbf{Business}: capitalone.com (242), attn.tv (157), medallia.com (147), cmix.com (142), emi-rs.com (121) & \textbf{Business}: yelp.com (160), attn.tv (157), activemeasure.com (71), mapquest.com (67), doceree.com (53) & \textbf{Shopping}: homedepot.com (217), target.com (214), capitaloneshopping.com (154), kohls.com (124), samsclub.com (120) \\
\textbf{Shopping}: kohls.com (124), ebay.com (379), qvc.com (96), homedepot.com (217), hsn.com (67) & \textbf{Entertainment}: imdb.com (312), looper.com (35), slashfilm.com (25), knowyourmeme.com (23), comicbook.com (37) & \textbf{Shopping}: ebay.com (379), homedepot.com (217), capitaloneshopping.com (154), kohls.com (124), samsclub.com (120) & \textbf{Shopping}: kohls.com (124), hobbylobby.com (22), patriotwholesaleclub.com (6), yaysavings.com (5), youtooz.com (4) & \textbf{Business, Information Technology}: att.com (132), adidas.com (77), mcafee.com (62), dell.com (45), wpengine.com (40) & \textbf{Chat and Instant Messaging}: yahoo.com (570) & \textbf{Business}: capitalone.com (242), adobe.com (139), hp.com (122), xfinity.com (120), comenity.net (41) \\
\textbf{Business, Education}: weather.com (194), patch.com (43), spotify.com (115), atlasobscura.com (16), bigthink.com (11) & \textbf{Business, Education}: weather.com (194), timeanddate.com (24), patch.com (43), bigthink.com (11), forter.com (65) & \textbf{Business, Information Technology}: experian.com (102), adidas.com (77), spot.im (65), wellsfargo.com (64), mcafee.com (62) & \textbf{Business, Information Technology}: evergage.com (61), filepicker.io (23), guard.io (22), clearbitjs.com (21), thomsonreuters.com (9) & \textbf{Shopping}: homedepot.com (217), kohls.com (124), jcpenney.com (65), slickdeals.net (33), alibaba.com (27) & \textbf{Business, Education}: weather.com (194), forter.com (65), kaiserpermanente.org (23), e-rewards.com (21), hubapi.com (20) & \textbf{Business, Economy and Finance}: discover.com (111), bankofamerica.com (97), citi.com (82), citibankonline.com (60), upgrade.com (54) \\
\textbf{Entertainment}: imdb.com (312), looper.com (35), comicbook.com (37), wegotthiscovered.com (21), knowyourmeme.com (23) & \textbf{Shopping}: kohls.com (124), qvc.com (96), ebay.com (379), homedepot.com (217), michaels.com (43) & \textbf{Business, Economy and Finance}: chase.com (191), discover.com (111), upgrade.com (54), chime.com (51), schwab.com (46) & \textbf{Business, Education}: hubapi.com (20), udemy.com (17), researchgate.net (17), panelfox.io (10), noom.com (9) & \textbf{Business, Education}: gofundme.com (72), forter.com (65), plarium.com (45), kaiserpermanente.org (23), chegg.com (18) & \textbf{Shopping}: capitaloneshopping.com (154), qvc.com (96), hobbylobby.com (22), shopstyle.com (17), fineartamerica.com (11) & \textbf{Business, Shopping}: rakuten.com (185), kroger.com (69), thesavvysampler.com (44), mintmobile.com (18), theupsstore.com (16) \\
\textbf{Business, Information Technology}: pcmag.com (32), speedtest.net (34), mcafee.com (62), experian.com (102), adidas.com (77) & \textbf{Business, Information Technology}: spot.im (65), mcafee.com (62), adidas.com (77), zdnet.com (14), dell.com (45) & \textbf{Business, Education}: gofundme.com (72), forter.com (65), truthfinder.com (28), coursera.org (22), chegg.com (18) & \textbf{Business, Shopping}: coupons.com (43), zazzle.com (19), mintmobile.com (18), cricut.com (7), teespring.com (7) & \textbf{Business, Economy and Finance}: discover.com (111), fidelity.com (40), stash.com (34), go2bank.com (17), fnbo.com (15) & \textbf{Business, Information Technology}: spot.im (65), trustwave.com (25), filepicker.io (23), paylocity.com (15), wasabisys.com (11) & \textbf{Information Technology}: microsoft.com (439), joinhoney.com (69), breadfinancial.com (31), coursehero.com (15), java.com (4) \\